html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

header
{
    background-color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    float: left;
    overflow: hidden;
    width: 100%;
    height: 100px;
}

h1
{
    color: #41403e;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    padding: 20px;
}
#top_sec
{
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;

}

#bot_sec
{   
    height: auto;
    min-height: 80%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("tlo.jpg");
    background-color: #cccccc;
    background-size: 100%;
}


.login_bar
{
    margin-left: 25%;
    margin-right: 25%;  
}

.login_form
{ 
    padding: 10px;
}

.login, .password
{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    color: #41403e;
}

.ps_hlp
{
    display: none;
}

.login label
{
	top: 0px;
	left: 0px;
	font-size: 16px;
	color: #fff;	
	transition: all 0.5s ease-in-out;
}


.add_btn {
    align-self: center;
    background-color: #fff;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: 'Staatliches', cursive;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    user-select: none;
    touch-action: manipulation;
}

.add_btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.add_btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.footer
{
    margin-left: 25%;
    margin-right: 25%;
    height: 10%;
}

